body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    height: fit-content;
    padding: 10px;
}

form div{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

h6{
    width: 50px;
}

#id{
    width: 50px;
    height: 25px;
}

#idTable{
    text-align: center;
}

table, td{
    border: 1px solid black;
}
